<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="hasTimeKeeperAssistant" value="true" />
    <add key="hasPeerMessengerAssistant" value="false" />
    <add key="hasWideAreaMessengerAssistant" value="false" />
    <add key="hasSimulatorAssistant" value="true"/>
    <add key="hasWeatherServiceAssistant" value="false"/>
    <add key="hasMqttSubscriberAssistant" value="false"/>
    <add key="hasMqttPublisherAssistant" value="false"/>
    <add key="hasSqlHistorizerAssistant" value="false"/>
	<add key="hasThingSpeakAccessorAssistant" value="false"/>
	<add key="hasUaDataAccessorAssistant" value="false"/>
    <add key="hasWmiPublisherAssistant" value="false" />
    <add key="hasIronPythonAssistant" value="false" />
    <add key="hasDataCollectorAssistant" value="false" />
    <add key="publishesService" value="false"/>
    <add key="hasWwfWorkflowAssistant" value="false"/>
    <add key="AgentValue13" value="/Galaxy/StarCluster/ORION/UPPERBAY/Cephius1/DataAccessor/AgentValue20"/>
    <add key="AgentValue6" value="/Galaxy/StarCluster/ORION/UPPERBAY/Cephius1/DataAccessor/AgentValue23"/>
    <add key="AgentValue7" value="/Galaxy/StarCluster/ORION/UPPERBAY/Cephius1/DataAccessor/AgentValue23"/>
    <add key="AgentValue8" value="/Galaxy/StarCluster/ORION/UPPERBAY/Cephius1/DataAccessor/AgentValue23"/>
    <add key="UaReferenceServerURL" value="opc.tcp://localhost:51210/UA/SampleServer"/>
    <add key="UaInputNodeURL" value="uanode://UAReferenceServerURL/ns=2;s=Dynamic/RandomFloat"/>
    <add key="UaOutputNodeURL" value="uanode://UAReferenceServerURL/4:Data/4:Static/4:Scalar/4:Int32Value?4=http://opcfoundation.org/UA/Test/"/>
    <add key="UaDaInputNodeURL" value="uanode://UAReferenceServerURL/1:COM DA Server 1/1:Dynamic/1:Analog Types/1:Int?1=opc.com://localhost/OPCSample.OpcDaServer"/>
    <add key="UaWrongNodeURL" value="uanode://UAReferenceServerURL/2:Data/2:Static/2:Scalar/2:FloatValue?2=http://opcfoundation.org/UA/Test/"/>
    <add key="OfficeLights" value="X10/D5"/>
    <add key="GarageOutsideLights" value="X10/E12"/>
    <add key="BasementWaterAlarm" value="X10/F16"/>
    <add key="AwayFromHome" value="X10/D1"/>
    <add key="MasterBedroomLight" value="X10/D2"/>
    <add key="SunsetSensor" value="X10/E16"/>
    <add key="anykey2" value="tester"/>
    <add key="zipCode" value="02038"/>
    <add key="location" value="Dover Circle"/>
    <add key="weatherStationID" value="KTAN"/>
    <add key="weatherAlertZone" value="MAZ013"/>
    <add key="period" value="5000"/>
    <add key="enableCelestial" value="true"/>
    <add key="enableCollective" value="true"/>
    <add key="enableCommunity" value="true"/>
    <add key="enableCluster" value="true"/>
    <add key="traceMode" value="Trace"/>
    <add key="remoteSqlDatabaseConnectionString" value="Data Source=localhost; Initial Catalog=UpperbayAgentsToo; Integrated Security=True"/>
    <add key="logicalPathName" value="/TestSystem/TestAgent"/>
    <add key="vocalName" value="Marsha"/>
    <add key="role" value="HouseSpeaker"/>
    <add key="startupMessage" value="Hi Dave. I hope you have a nice day."/>
    <add key="shutdownMessage" value="I will be seeing you later."/>
</appSettings>