<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="colony" type="Upperbay.Agent.ConfigurationSettings.ColonySettings, Upperbay.Agent.ConfigurationSettings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="services" type="Upperbay.Agent.ConfigurationSettings.ServicesSettings, Upperbay.Agent.ConfigurationSettings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="agents" type="Upperbay.Agent.ConfigurationSettings.AgentsSettings, Upperbay.Agent.ConfigurationSettings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="datastores" type="Upperbay.Agent.ConfigurationSettings.DatastoreSettings, Upperbay.Agent.ConfigurationSettings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <connectionStrings>
    <add name="Connection String" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Logging;Persist Security Info=True;User ID=sa;Password=upperbayhawk;User Instance=False" providerName="System.Data.SqlClient"/>
    <add name="Connection String1" connectionString="Database=Database;Initial Catalog=Caching;Server=(local)\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="UpperbayAgents" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=UpperbayAgents;Persist Security Info=True;User ID=sa;Password=upperbayhawk;User Instance=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="Debug" value="4"/>
      <!-- Verbose=4, Info=3, Warning=2, Error=1, Off=0 -->
      <add name="Runtime" value="4"/>
    </switches>
    <sources>
      <source name="System.ServiceModel" switchValue="Off, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Off">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="MyAppTraceFile.svclog"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
<!--  <colony colonyName="Upperbay" celestialName="Universe" collectiveName="Galaxy" communityName="OuterGroup" clusterName="StarCluster" account="User" username="Hawk\Administrator" password="LAMBO" priority="normal" version="0.0.1.0" /> -->
  <colony colonyName="Upperbay" celestialName="Universe" collectiveName="Galaxy" communityName="OuterGroup" clusterName="StarCluster" account="LocalSystem" username="" password="" priority="normal" version="0.0.1.0"/>
  <services>
    <service serviceName="CurrentForCarbon" displayName="CurrentForCarbon" description="Grid Game" serviceCategory="Agent" type="Upperbay.Agent.Cell.BaseCell, Upperbay.Agent.Cell.dll, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" startType="auto" version="0.0.1.0"/>
  </services>
  <agents>
    <agent agentName="ClusterAgent" agentNickName="ClusterAgent" serviceName="CurrentForCarbon" description="Cluster Agent" type="Upperbay.AgentObject.ClusterAgent, Upperbay.AgentObject.ClusterAgent.dll, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <!--
    <agent agentName="ModelAgent" agentNickName="ModelAgent" serviceName="CurrentForCarbon" description="Model Agent" type="Upperbay.AgentObject.ModelAgent, Upperbay.AgentObject.ModelAgent.dll, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      -->
</agents>
  <datastores>
    <datastore datastoreName="TheMatrix" description="HelloWorld" type="Upperbay.Agent.ColonyMatrix.AgentMatrix, Upperbay.Agent.ColonyMatrix.dll, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </datastores>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
